*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

header{
    height: 90vh;
    background-image: url("https://cs12.pikabu.ru/post_img/big/2021/07/16/9/1626446618131620823.jpg");
    color: white;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 6rem;
    height: 3rem;
}

li{
    list-style: none;
}

.nav{
    margin-top: 1rem;
}

.nav-link{
    color: white;
}

.nav-flex{
    color: white;
}

a{
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
}

.container.hero{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 40vh;
    margin-top: 10rem;
}

.btn{
    padding: 1rem;
    color: white;
}

.btn.btn-primary{
    background-color: mediumseagreen;
    border-radius: 0.25rem;
}