*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

header{
    height: 70vh;
    background-image: url("http://www.wincore.ru/uploads/posts/2015-09/1442563344_1-18.jpg");
    background-repeat: no-repeat;
    color: white;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    z-index: 2;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 6rem;
    height: 3rem;
}

li{
    list-style: none;
}

.nav{
    margin-top: 1rem;
}

.nav-link{
    color: white;
}

.nav-flex{
    color: white;
}

a{
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
}

.container.hero{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 40vh;
    margin-top: 10rem;
}

.btn{
    padding: 1rem;
    color: white;
}

.btn.btn-primary{
    background-color: mediumseagreen;
    border-radius: 0.25rem;
}

.feature-title{
    width: 50%;
}


.feature-description{
    font-size: 2rem;
    color: grey;
}

span{
    color: black;
}

.container.flex-column{
    flex-direction: column;
    justify-content: space-evenly;
    height: 70vh;
    align-items: flex-start;
    padding: 0 8rem;
}

.features{
    display: flex;
    flex-direction: row;
}


@media (max-width: 789px){
    .feature-title{
        width: 100%;
    }

    .feature-description{
        font-size: 1rem;
    }

    .container.flex-column{
        padding: 0 2rem;
    }
}

@media (max-width: 600px){
    .features{
        flex-direction: column;
    }
}