* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Libre Franklin', sans-serif;
    scroll-behavior: smooth;
}

hr {
    width: 90%;
    margin-left: 5%;
}

header {
    height: 100vh;
    background-image: url("https://uploads-ssl.webflow.com/5b680680f109cf5a2fd941ab/5b6817d95fc94c67bf48eaab_image-header.jpg");
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 3rem;
}

.mono {
    font-family: 'Space Mono', monospace;
    padding-top: 1rem;
}

.logo {
    width: 6rem;
    height: 3rem;
}

li {
    list-style: none;
}

.nav {
    margin-top: 1rem;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: mediumseagreen;
}

.nav-flex {
    color: white;
}

a {
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
}

.container.hero {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 40vh;
    margin-top: 5rem;
    text-align: center;
}

.btn {
    padding: 1rem;
    color: white;
    border-radius: 0.25rem;
}

.btn.btn-header {
    border: 2px solid white;
}

.btn.btn-header:hover {
    background-color: white;
    color: black;
}

.btn.btn-primary {
    background-color: mediumseagreen;
    border-radius: 0.25rem;
}

.btn.btn-primary:hover {
    background-color: forestgreen;
}

.feature-title {
    width: 50%;
}


.feature-description {
    font-size: 2rem;
    color: grey;
}

.grey {
    color: grey;
    font-size: 0.75rem;
}

span {
    color: black;
    font-weight: bolder;
}


.container.flex-column {
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    align-items: flex-start;
    padding: 0 8rem;
    background-color: transparent;
}

.features {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.feature {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.025), -5px -5px 20px rgba(0, 0, 0, 0.025);
    border: 1px solid #f7f7f7;
    width: 100%;
    padding: 3rem 2rem;
}

h3 {
    padding: 1rem 0;
}

.image-slider {
    margin-left: 1vw;
    width: 90vw;

}

.container.flex-column.about-div {
    align-items: center;
    height: 100vh;
}

.about {
    padding: 0;
    text-align: center;
}

.premium-img {
    height: 330px;
}

.flex-column.premium {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 2rem;
    margin-bottom: 4rem;
}

.container.info {
    height: 60vh;
    gap: 1rem;
}

.container.info.reverse {
    flex-direction: row-reverse;
}

.information-div {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.container.other {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
}

.other-div {
    width: 50%;
}

.container.footer {
    padding-top: 6rem;
    background-color: #0a0e1a;
    height: 40vh;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex-wrap: wrap;
    height: 150px;
}

.f-link {
    font-size: 0.75rem;
    margin-bottom: 1.5rem;
}

.f-a {
    color: white;
}

.footer-links-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-logo {
    margin: 0;
    padding: 0.5rem 0;
}

.div-handler {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50vw
}

input[type="checkbox"] {
    display: none;
}

.nav-btn {
    display: none;
    align-items: center;
    cursor: pointer;
    height: 1rem;
    width: 3rem;
}


.nav-btn > span::before,
.nav-btn > span,
.nav-btn > span::after {
    display: block;
    cursor: pointer;
    transition: 0.1s;
    color: white;
    background-color: white;
    height: 0.5rem;
    width: 3rem;
    position: absolute;
}

.nav-btn > span::before {
    content: '';
    top: 1rem;

}

.nav-btn > span::after {
    content: '';
    top: 2rem;
}

#hamburger:checked ~ .nav-btn {
    margin-top: 2rem;
}

#hamburger:checked ~ .nav-btn > span {

    transform: rotate(45deg);
}

#hamburger:checked ~ .nav-btn > span::after {
    top: 0;
    transform: rotate(0);
}

#hamburger:checked ~ .nav-btn > span::before {
    top: 0;
    transform: rotate(90deg);
}

.slider-handle {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 60vh;
    scroll-behavior: smooth;
}

.container.slider {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.green-line {
    display: inline-block;
    width: 2rem;
    height: 2px;
    border: 1px solid mediumseagreen;
    background-color: green;
    margin-left: 2rem;
}

@media (max-width: 789px) {
    .feature-title {
        width: 100%;
    }

    .feature-description {
        font-size: 1rem;
    }

    .container.flex-column {
        padding: 0 2rem;
    }

    .features {
        flex-wrap: wrap;
    }

    .feature {
        padding: 2rem 1rem;
    }

    .div-handler {
        flex-direction: column;
    }
}

@media (max-width: 675px) {
    .features {
        flex-direction: column;
    }

    .container.info {
        flex-direction: column;
    }

    .container.info.reverse {
        flex-direction: column;
    }

    .information-div {
        width: 80vw;
    }

    .premium-img {
        width: 350px;
        height: auto;
    }

    nav > .flex-container {
        display: none;
    }

    .dot {
        display: none;
    }

    .nav-bar {
        height: 340px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 200px;
        z-index: 2;

    }

    .flex-container {
        justify-content: space-evenly;
        margin-top: 1rem;
    }

    .container.hat {
        justify-content: space-between;
        align-items: flex-start;
    }

    .nav-btn {
        display: flex;
        margin-top: 1rem;
        flex-direction: column;
    }

    .li-btn {
        margin-top: 1.25rem;
    }

    nav li {
        padding: 0.75rem 0;
    }

    input[type="checkbox"]:checked ~ label + .flex-container {
        display: flex;
        flex-direction: column;
    }

    .logo {
        margin-left: 2rem;
    }
}

@media (max-width: 425px) {
    .footer-links {
        height: 180px;
    }

    .container.hat {
        flex-direction: row;
    }

    .flex-container {
        flex-wrap: wrap;
    }

    .feature {
        padding: 1rem;
    }

    .f-a {
        padding: 0.5rem 0;
    }

    .container.slider {
        height: 30vh;
        margin-top: 4rem;
    }
}

@media (max-width: 375px) {
    .container.footer {
        padding-top: 2rem;
    }

    .premium-img {
        width: 260px;
    }

    .container.slider {
        height: 20vh;
    }
}